*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Dark Mode */
body
{
	background-color: white;
	height: 100vh;
	transition: background 0.2s linear;
}
.dark-mode
{
    margin-top: 1%;
    display: flex;
	justify-content: center;
}
body.dark
{
	background: #292C35;
}
.button-dark-mode
{
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	position: absolute;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}
.button-dark-mode .ball
{
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}
.dark-mode-button:checked + .button-dark-mode .ball
{
	transform: translateX(24px);
}
/* Titre */
@font-face
{
    font-family: "SF Pro Display";
    src: url("../fonts/sfprodisplaybold-webfont.woff") format("woff"), url("../fonts/sfprodisplaybold-webfont.woff") format("woff2");
}
.titre-zone
{
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.titre-zone2
{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.titre
{
    font-family: 'SF Pro Display';
    font-size: 60px;
}
body.dark .titre
{
   color: white;
}
/* Version mobile */
@media all and (max-width: 650px)
{
    .titre
    {
        font-size: 50px;
        margin-top: 5%;
    }
}
/* Barre de recherche */
.barre-de-recherche
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
}
.barre-de-recherche .search
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    background: #292C35;
    border-radius: 50%;
    transition: all 0.5s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
body.dark .barre-de-recherche input
{
    background: #fff;
}
.barre-de-recherche .search:hover
{
    cursor: pointer;
}
.barre-de-recherche .search:before
{
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
    transition: all 0.2;
}
.barre-de-recherche .search:after
{
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all 0.2;
}
.barre-de-recherche input
{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: #292C35;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #292C35, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    color: #fff;
}
.barre-de-recherche input:hover
{
    cursor: pointer;
}
.barre-de-recherche input:focus
{
    width: 300px;
    opacity: 1;
    cursor: text;
}
.barre-de-recherche input:focus ~ .search
{
    right: -250px;
    background: #151515;
    z-index: 6;
}
.barre-de-recherche input:focus ~ .search:before
{
    top: 0;
    left: 0;
    width: 25px;
}
.barre-de-recherche input:focus ~ .search:after
{
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: #fff;
    border-radius: 0%;
    transform: rotate(-45deg);
}
.barre-de-recherche input::placeholder
{
    color: #fff;
    opacity: 0.5;
    font-weight: bolder;
    font-family: "SF Pro Display";
}
body.dark .barre-de-recherche input::placeholder
{
    color: black;
}
body.dark input
{
    color: black;
}
/* Dans la recherche */
.liste-de-recherche, .message-aucun-produit, .resultat
{
    margin-top: 35%;
    border-color: black;
    font-size: 20px;
    color: #111;
    font-family: "SF Pro Display";
}
body.dark .message-aucun-produit
{
    color: white;
}
body.dark .resultat
{
    color: white;
}
/* Suggestion de recherche */
.suggestion-zone
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.suggestion
{
    font-family: "SF Pro Display";
    font-size: 20px;
}
body.dark .suggestion
{
    color: white;
}
/* Slide */
.slide
{
    height: 50px;
    padding-left:15px;
    overflow: hidden;
}
.slide div
{
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;
}
.slide-text1
{
    font-size: 18px;
    background: #1FB2CF;
    background: -webkit-radial-gradient(circle farthest-side at center center, #1FB2CF 0%, #C31BCF 100%);
    background: -moz-radial-gradient(circle farthest-side at center center, #1FB2CF 0%, #C31BCF 100%);
    background: radial-gradient(circle farthest-side at center center, #1FB2CF 0%, #C31BCF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "SF Pro Display";
    animation: slide 10s linear infinite;
}
.slide-text2
{
    font-size: 18px;
    background: #1FB2CF;
    background: -webkit-radial-gradient(circle farthest-side at center center, #1FB2CF 0%, #C31BCF 100%);
    background: -moz-radial-gradient(circle farthest-side at center center, #1FB2CF 0%, #C31BCF 100%);
    background: radial-gradient(circle farthest-side at center center, #1FB2CF 0%, #C31BCF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "SF Pro Display";
}
.slide-text3
{
    font-size: 18px;
    background: #1FB2CF;
    background: -webkit-radial-gradient(circle farthest-side at center center, #1FB2CF 0%, #C31BCF 100%);
    background: -moz-radial-gradient(circle farthest-side at center center, #1FB2CF 0%, #C31BCF 100%);
    background: radial-gradient(circle farthest-side at center center, #1FB2CF 0%, #C31BCF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "SF Pro Display";
}
@keyframes slide
{
    0%
    {
        margin-top:-300px;
    }
    5%
    {
        margin-top:-200px;
    }
    33%
    {
        margin-top:-200px;
    }
    38%
    {
        margin-top:-100px;
    }
    66%
    {
        margin-top:-100px;
    }
    71%
    {
        margin-top:0px;
    }
    100%
    {
        margin-top:0px;
    }
}
/* GitHub */
.github
{
    font-family: "SF Pro Display";
}
.github:link
{
    color: #292C35;
}
/* visited link */
.github:visited
{
    color: #292C35;
}
/* mouse over link */
.github:hover
{
    color: #292C35;
}
/* selected link */
.github:active
{
    color: #292C35;
}
body.dark .github:link
{
    color: white;
}
/* visited link */
body.dark .github:visited
{
    color: white;
}
/* mouse over link */
body.dark .github:hover
{
    color: white;
}
/* selected link */
body.dark .github:active
{
    color: white;
}
.github-zone
{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* Page élément */
.year
{
    font-family: "SF Pro Display";
    font-size: 30px;
}
body.dark .year
{
    font-family: "SF Pro Display";
    font-size: 30px;
    color: white;
}
.fiche-produit-zone
{
    display: flex;
    justify-content: center;
    width: 100%;
}
.image-produit
{
    display: flex;
    width: 100%;
}
.footer-element
{
    margin-top: 5%;
    font-size: 20px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}